body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.password-container {
  width: 450px;
  margin: 20px auto;
  background: pink;
  padding: 20px;
  border-radius: 10px;
}

.password-container h1 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 500;
}

.input-container {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border: none;
  border: 1px solid black;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 20px;
  letter-spacing: 4px;
  text-align: center;
}

.input::placeholder {
  letter-spacing: 0px;
}

.fa-copy {
  cursor: pointer;
  float: right;
  font-size: 20px;
  opacity: 0.3;
}

.fa-copy:hover {
  opacity: 0.7;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 100px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background: black;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin: 0 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background: #666;
}

.btn:active {
    transform: scale(0.95);
}

.alert-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 300px;
    height: 50px;
    background: lightgreen;
    right: 20px;
    bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    transition: 0.4s;
}

.active.alert-container {
    right: -300px;
}
